*{
    margin : 0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --my-font-size:16px;
    --my-font-family:verdana,sans-serif;
}

table{
    width:80vw;
    height:80vh;
    border:5px solid black;
    margin:10px;
}
 td{
    width:3rem;
    height:3rem;
    border:1px solid black;
    border-radius: 10%;
    text-align: center;
}
td:empty{
    border:none;
}
td:hover{
    transform: scale(1.5);
    transition: 0.5s;
}
/* 1st row - 1st col */
tr:nth-child(n +1):nth-child(-n +1) :nth-child(1) {
    background-color: yellow;
}
/* 1st col*/
tr:nth-child(n +2):nth-child(-n +7) :nth-child(1){
    background-color: slateblue;
}
/* 2nd col */
tr:nth-child(n+2):nth-child(-n+7) :nth-child(2){
    background-color: tan;
}

/* 4throw---3rd col till 7th row 12 col */
tr:nth-child(n+4):nth-child(-n+7) :nth-child(n+3):nth-child(-n+12){
    background-color: #74F2CC;
}
/* 6th row, 3rd col */
tr:nth-child(n +6) :nth-child(3){
    background-color: #35d1ec;
} 
/* 18th column */
tr:nth-child(n + 1):nth-child(-n + 6) :nth-child(18){
    background-color: violet;
}
/* 18th 7th row */
tr:nth-child(n+7):nth-child(-n+7) :nth-child(18){
    background-color: tan;
}
/* 8th row */
tr:nth-child(n +8):nth-child(-n +14) :nth-child(n+2):nth-child(-n+15) {
    background-color: #35d1ec;
}
/* 9th row */
tr:nth-child(n+ 9):nth-child(-n + 14)  :nth-child(n+2):nth-child(-n+15){
    background-color: #1e7a63;
}
